.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999999;
  .modal {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    z-index: 999999999;
  }
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
