.item {
  list-style: none;
}

.label {
  border: 1px solid black;
}

.checkbox {
  opacity: 0.2;
}

.button {
  border: none;
  background-color: white;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}
