html {
  font-family: 'Playfair', 'Nanum Myeongjo', 'Nanum Gothic' 'serif';
  letter-spacing: 0.15rem;
  word-spacing: 0.2rem;
}
body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
}

.gradient-cover {
  position: relative;
  height: 50px;
}
.gradient-cover p {
  position: absolute;
  left: 0;
  background-image: linear-gradient(140deg, #18181b 20%, #9c9c9c);
  opacity: 1;
  transition: opacity 0.5s linear;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* .dark .gradient-cover p {
  background-image: linear-gradient(140deg, #fff 20%, #9c9c9c);
} */

/* .dark .gradient-cover p {
  background-image: linear-gradient(140deg, #fff 20%, #9c9c9c);
} */
/* 아래 두 개는 layer components로 이동 */
.gradient-cover:first-child p::before {
  content: 'FastCampus To Do List';
}
.gradient-cover:nth-child(2) p::before {
  content: attr(data-before);
}

.gradient-cover p::before {
  position: absolute;
  background: linear-gradient(to right, #9c9c9c, #18181b);
  transition: opacity 0.5s linear;
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient .transitionOn::before {
  opacity: 1;
}
